{{- if .Values.clusterWebUI.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: traefik-alb
  namespace: {{ .Release.Namespace }}
  labels:
    app: traefik
    component: router
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: {{ .Values.clusterWebUI.alb.scheme | quote }}
    alb.ingress.kubernetes.io/target-type: {{ .Values.clusterWebUI.alb.targetType | quote }}
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/ssl-redirect: '443'
    alb.ingress.kubernetes.io/ssl-policy: {{ .Values.clusterWebUI.alb.sslPolicy | quote }}
    {{- if .Values.clusterWebUI.awsCertificateArn }}
    alb.ingress.kubernetes.io/certificate-arn: {{ .Values.clusterWebUI.awsCertificateArn | quote }}
    {{- end }}
    {{- if .Values.clusterWebUI.externalDns.enabled }}
    external-dns.alpha.kubernetes.io/hostname: "{{ .Values.clusterWebUI.domain }},*.{{ .Values.clusterWebUI.domain }}"
    {{- end }}
    {{- range $key, $value := .Values.clusterWebUI.alb.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  rules:
  - host: {{ .Values.clusterWebUI.domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: traefik
            port:
              number: 80
  - host: "*.{{ .Values.clusterWebUI.domain }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: traefik
            port:
              number: 80
{{- end }}
