---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - servers.jupyter.org
  resources:
  - jupyterservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - servers.jupyter.org
  resources:
  - jupyterservers/finalizers
  verbs:
  - update
- apiGroups:
  - servers.jupyter.org
  resources:
  - jupyterservers/status
  verbs:
  - get
  - patch
  - update
